.select {
  border: 0;
}
.ant-select-selection--single {
  border: 0;
}
.topmargin {
  margin-top: 30px;
}
.QRtop {
  margin: 0 auto;
  border-right: 1px solid #e0d9d9;
  height: 184px;
  width: 146px;
}
.QRframe {
  height: 172px;
  width: 126px;
  padding-top: 7px;
}
.QRtip {
  font-size: 1px;
  width: 108px;
}
.textframe {
  text-align: center;
  padding-top: 7px;
}
.text {
  background-color: #f1f1f1;
  width: 250px;
  height: 120px;
  padding: 30px;
  margin-bottom: 15px;
}
.btncopy {
  background: #65ad59;
  color: white;
  width: 200px;
}
