.btncolor {
  color: black;
  margin: 0;
}
.btnred {
  color: red;
}

.ant-table-tbody > tr > td {
  vertical-align: middle;
  font-size: 1px;
}
.ant-table-thead > tr > th {
  padding: 2px 16px !important;
  font-size: 1px;
}
.btnframe {
  margin: 0;
}
.ant-table-thead > tr > th {
  color: rgb(153, 153, 153) !important;
}
